<h1>FindMe</h1>
<button onclick="getLoc()">Find Location</button>
<div id="errorRender">Your Location</div>
<div id="showsnakes">
<% @snake.each do |s| %>
<button><%=s.name%></button>



<%end %> 
</div>
